
.Rhistory

.RData

*.pper
.Rproj.user

*.pper

*.pper

.Rproj.user/B3EAF57A/pcs/files-pane.pper

.Rproj.user/B3EAF57A/pcs/source-pane.pper

*.pper

.Rproj.user/B3EAF57A/pcs/windowlayoutstate.pper

.Rproj.user/B3EAF57A/pcs/windowlayoutstate.pper

.Rproj.user/B3EAF57A/pcs/workbench-pane.pper

.Rproj.user/B3EAF57A/persistent-state

.Rproj.user/B3EAF57A/persistent-state

.Rproj.user/B3EAF57A/sdb/prop/INDEX

inst/.DS_Store

.DS_Store
