@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic';

body, h1, h2, h3, h4, h5, h6, .descr, td {
   text-rendering: optimizeLegibility;
   font-smoothing: antialiased;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 17px;
}

#cite {
    font-size: 0.7em;
    font-weight: lighter;
    color: #4d4d4d;
    text-align: right;
    margin-bottom:0.1%;
    margin-left:0.5%;
    margin-right:10px;
}
#cite a { text-decoration: none; color: #821122; }

#footer {
    font-size: 0.8em;
    color: #9B9B9B;
    margin-top:7px;
    background-color: #F6F6F6;
    padding: 7px;
}
#footer a { text-decoration: none; color: #821122; }

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.descr {
 font-size: 1.1em;
 color: #707070;
 line-height: 120%;
 margin-left:2px;
}

h1 {
   font-size:3.3em;
}

h2 {
   font-size:1.37em;
   font-weight: bolder;
   line-height: 101%;
   margin-bottom:3px;
   margin-top:3px;
   margin-left:2px;
}

h3 {
   font-size:1.1em;
   color: #595959;
   font-weight: bolder;
   line-height: 80%;
   margin-left:2px;
      margin-top:7px;
}

h4 {
   font-size:1.5em;
}

h5 {
   font-size:0.9em;
}

h6 {
   font-size:0.8em;
}


a:visited {
   color: rgb(50%, 0%, 50%);
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

body {
  max-width:100%;
}

a, a:visited {
  text-decoration: underline;
}


.d3-tip {
  line-height: 1;
  padding: 9px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 3px;
  pointer-events: none;
}
