@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic';

body, h1, h2, h3, h4, h5, h6, .descr, td {
   text-rendering: optimizeLegibility;
   font-smoothing: antialiased;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 18px;
}

#cite {
    position: fixed;
    bottom:0;
    font-size: 0.8em;
    font-weight: lighter;
    color: #4d4d4d;
    text-align: right;
    margin-bottom:0.2%;
    margin-left:0.5%;
    margin-right:10px;
}
#cite a { text-decoration: none; color: #821122; }

#footer {
    font-size: 10.5px; color: #9B9B9B; 
    margin-top:8px; 
    background-color: #F6F6F6;
    padding: 8px;
}
#footer a { text-decoration: none; color: #821122; }

#htmlwidget_container {
    width: 100%;
    padding-top: 12%;
    position: relative;
}

.descr {
 font-size: 1.2em; 
 color: #707070;
 line-height: 120%;
}
     
h1 {
   font-size:3.3em;
}

h2 {
   font-size:2.2em;
   font-weight: bolder;
   line-height: 100%;
}

h3 {
   font-size:1.5em;
   color: #696969; 
   line-height: 80%;
}

h4 {
   font-size:1.5em;
}

h5 {
   font-size:0.9em;
}

h6 {
   font-size:0.8em;
}
    

a:visited {
   color: rgb(50%, 0%, 50%);
}

td, th {
  border: none;
  font-size:0.95em;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

body {
  max-width:100%;
}

a, a:visited {
  text-decoration: underline;
}


.d3-tip {
  line-height: 1;
  /*font-weight: bold;*/
  padding: 12px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}
