@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic';

body, h1, h2, h3, h4, h5, h6, .descr, td {
   text-rendering: optimizeLegibility;
   font-smoothing: antialiased;
   font-family: 'Open Sans Condensed', sans-serif;
}

#cite {
    direction: rtl;    
    font-size: 0.7em;
    color: #B8B8B8; text-align: right; margin-top:5px; margin-right:5px; padding-bottom: 3px;
}
#cite a { text-decoration: none; color: #821122; }

#footer {
    direction: rtl;    
    font-size: 0.8em;
    color: #9B9B9B; 
    margin-top:8px; 
    background-color: #F6F6F6;
    padding: 8px;
}
#footer a { text-decoration: none; color: #821122; }


.descr {
 direction: rtl;    
 font-size: 1em;
 color: #707070;
 line-height: 120%;
 margin-right:5px;
}
     
h1 {
      direction: rtl;        
   font-size:3.3em;
}

h2 {
    direction: rtl;    
   font-size:1.4em;
   font-weight: bolder;
   line-height: 101%;
   margin-right:5px;
   margin-bottom:8px;
   margin-top:5px;
   margin-left:2px;
}

h3 {
       direction: rtl;    
   font-size:1.1em;
   color: #595959;
   font-weight: bolder;
   line-height: 108%;
   margin-right:5px;
   margin-top:7px;
}

h4 {
   font-size:1.5em;
}

h5 {
   font-size:0.9em;
}

h6 {
   font-size:0.8em;
}
    

a:visited {
   color: rgb(50%, 0%, 50%);
}

td, th {
  border: none;
  font-size:0.95em;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

body {
  max-width:100%;
  font
}

a, a:visited {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 15px;
    }
    .descr {
        font-size: 0.8em;
    }
}


.d3-tip {
  direction: rtl;    
  line-height: 1;
  /*font-weight: bold;*/
  padding: 12px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}
