@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic-ext');

body, h1, h2, h3, h4, h5, h6, .descr {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 0.95em;
   letter-spacing: .01em;
}

#cite {
    font-size: 8px;
    color: #B8B8B8;
    text-align: right;
    margin-top:7px;
    margin-right:7px;
    padding-bottom: 3px;
}
#cite a { text-decoration: none; color: #821122; }

#footer {
    font-size: 10.5px;
    color: #9B9B9B;
    margin-top:8px;
    background-color: #F6F6F6;
    padding: 8px;
}
#footer a { text-decoration: none; color: #821122; }

.descr {
  color: #707070;
  margin-bottom: 3px;  
  margin-left: 1%;
}

h1 {
   font-size:1.6em;
}

h2 {
   font-size:1.5em;
   line-height: 80%;
   margin-bottom: 7px;
   margin-top: 7px;
   margin-left: 1%;
}

h3 {
   font-size:1.05em;
   color: #696969;
   line-height: 80%;
   margin-top: 8px;
   margin-bottom: 6px;  
   margin-left: 1%;
}

h4 {
   font-size:1.5em;
}

h5 {
   font-size:0.9em;
}

h6 {
   font-size:0.8em;
}

a:visited {
   color: rgb(50%, 0%, 50%);
}

body {
  max-width:100%;
}

a, a:visited {
  text-decoration: underline;
}

.parset .dimension { cursor: ns-resize; }
.parset .category { cursor: ew-resize; }
.parset .dimension tspan.name { font-size: 1.3em; fill: #333; font-weight: bold; }
.parset .dimension tspan.sort { fill: #000; cursor: pointer; opacity: 0; }
.parset .dimension tspan.sort:hover { fill: #333; }
.parset .dimension:hover tspan.name { fill: #000; }
.parset .dimension:hover tspan.sort { opacity: 1; }
.parset .dimension line { stroke: #000; }
.parset .dimension rect { stroke: none; fill-opacity: 0; }
.parset .dimension > rect, .category-background { fill: #fff; }
.parset .dimension > rect { display: none; }
.parset .category:hover rect { fill-opacity: .5; }
.parset .dimension:hover > rect { fill-opacity: .5; }
.parset .ribbon path { stroke-opacity: 0; fill-opacity: .55; }
.parset .ribbon path.active { fill-opacity: .9; }
.parset .ribbon-mouse path { fill-opacity: 0; }

.parset .category-0 { fill: #ab3d3f; stroke: #ab3d3f; }
.parset .category-1 { fill: #666699; stroke: #666699; }
.parset .category-2 { fill: #669999; stroke: #669999; }
.parset .category-3 { fill: #663333; stroke: #663333; }
.parset .category-4 { fill: #366096; stroke: #366096; }
.parset .category-5 { fill: #996699; stroke: #996699; }
.parset .category-6 { fill: #ac673e; stroke: #ac673e; }
.parset .category-7 { fill: #3a9736; stroke: #3a9736; }
.parset .category-8 { fill: #333366; stroke: #333366; }
.parset .category-9 { fill: #193442; stroke: #193442; }
.parset .category-10 { fill: #999966; stroke: #999966; }

.parsets.tooltip {
  background-color: rgba(242, 242, 242, .6);
  position: absolute;
  padding: 2px;
  font-size:0.9em;
}
