/* From https://1stwebdesigner.com/css-shapes/ size divided by 10*/


#rectangle {
    width: 20px;
    height: 15px;
    background: #768A94;
    display:inline-block;
}

#square {
    width: 10px;
    height: 10px;
    background: #768A94;
    display:inline-block;
}

#circle {
    width: 10px;
    height: 10px;
    background: #7fee1d;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    display:inline-block;
}

#diamond {
    width: 10px;
    height: 10px;
    display:inline-block;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 5px 0 1px 13px;
}
